<template>
  <div class="home">
    <div id="chartwindow">
      <CommitChart></CommitChart>
    </div>
  </div>
</template>

<style>
#bar-chart {
  width: 50%
}
</style>

<script>
// @ is an alias to /src
import HelloWorld from "@/components/HelloWorld.vue";
import VueCharts from "vue-chartjs";
import CommitChart from "@/components/CommitChart";

export default {
  name: "home",
  components: {
    HelloWorld,
    CommitChart
  },
  mounted() {
    // Overwriting base render method with actual data.
    this.renderChart({
      labels: [
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December"
      ],
      datasets: [
        {
          label: "GitHub Commits",
          backgroundColor: "#f87979",
          data: [40, 20, 12, 39, 10, 40, 39, 80, 40, 20, 12, 11]
        }
      ]
    });
  }
};
</script>
